.info-table{
    width: 280px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 20px;
}
@media screen and (min-width: 1200px) {
    .info-table{
        margin-top: 10vh;
        width: 1000px;
        min-height: 150px;
        flex-direction: row;
    }

}